body {
    background: #ffeaaa;
}


.callout-container {
    height: 80vh;
    background: url(https://user-images.githubusercontent.com/69968071/92534955-08e71200-f22e-11ea-8e5b-f41db898cd8a.jpg) no-repeat center center fixed;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
background-size: cover;
}

.btn-light-purple {
    background-color: #e1b9e0;
    border-radius: 25px;
    color: #ffffff;
}

.btn-light-purple:hover {
    background-color: #ffffff;
    color: #e1b9e0;
}

.btn-dark-purple {
    background-color: #e1b9e0;
    color: #c5c5c5;
}

.review-container {
    padding-bottom: 50px;
    padding-top: 30px;
}

.media {
    padding-top: 45px;
}

#picture {
    clear: both;
    column-count: 3;
    column-gap: 0px;
}

#picture img {
    width: 100%;
}

@media screen and (max-width: 800px){
   #picture {
    column-count: 2;
  }
}

.divider {
    width: 40%;
    background-color: #e1b9e0;
    height: 4px;
}

.features-container{
     padding-bottom: 50px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}

.footer-container {
    background-color:#f8a7ffef;
    padding-bottom: 10px;
}

.social-links{
   text-align: center;
}

.social-links li {
     display: inline;
     text-decoration: none; 
     text-align: bottom;
}

.social-links i {
    font-size: 150%;
    color: #f96b6b;
}

